name: Checker

on:
    push: {}

jobs:
    check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.1
            - name: Get secret
              run: |
                  echo "${{secrets.ENVIRONMENTS}}" | sed 's/./& /g'
