name: arxiv-satellite

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Setup Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Create dotenv file
        run: |
          touch .env
          echo "DEEPL_API_TOKEN=${{ secrets.DEEPL_API_TOKEN }}" >> .env
          echo "MS_TRANSLATE_KEY=${{ secrets.MS_TRANSLATE_KEY }}" >> .env
          echo "MS_TRANSLATE_REGION=${{ secrets.MS_TRANSLATE_REGION }}" >> .env
          echo "GEMINI_API_TOKEN=${{ secrets.GEMINI_API_TOKEN }}" >> .env
          echo "SLACK_API_TOKEN1=${{ secrets.SLACK_API_TOKEN1 }}" >> .env
          echo "SLACK_API_TOKEN2=${{ secrets.SLACK_API_TOKEN2 }}" >> .env
          echo "SLACK_API_TOKEN3=${{ secrets.SLACK_API_TOKEN3 }}" >> .env
          echo "POST_CHANNEL1=${{ secrets.POST_CHANNEL1 }}" >> .env
          echo "POST_CHANNEL2=${{ secrets.POST_CHANNEL2 }}" >> .env
          echo "POST_CHANNEL3=${{ secrets.POST_CHANNEL3 }}" >> .env
      - name: Run arxiv-satellite
        run: python run.py
